<!-- * * * * * * * * * * * html tutorial * * * * * * * * * * * * * * * * * * * * -->

<!-- <em>first</em><em>second</em><em>third</em>
<p>fourth</p><p>fifth</p><p>sixth</p>
<img src="https://raw.githubusercontent.com/mdn/beginner-html-site/gh-pages/images/firefox-icon.png">
<p class="editor-note">this is my website</p>
<a href="https://tcs.com" title="tcs homepage" target="_blank">tcs</a>
<input type="text" disabled>
<input type="text" name="" id="">
<a href="https://tcs.com">tcs homepage</a> <br>
<a href='https://tcs.com'>Tcs Homepage</a> -->

<!--  -->

<!-- <h1 class="some-music">Some Music</h1>
<p class="content">I really enjoying <strong>playing the drums.</strong>One of my favorite drummers is Neal Peart, 
  who plays in the band Rush.<a href="/assets/1.jpeg_%28band%29"  title="1" >Rush</a>.
  My favorite Rush album is currently.
  <a href="https://www.deezer.com/soon">Moving Picture</a>
  <img class="img" src="../assets/1.jpeg" alt="1">
</p>
<!--  -->
<!-- <p>In Html, you will see the paragraph using the &lt;p&gt; element.</p>
<h1>The crushing Bore</h1>
<p>By Chris Mill</p>
<h2>Chapter 1: The Dark Night</h2>
<p>It was a dark night. Somewhere, an owl hooted. The rain lash down on the ...</p>
<h2>Chapter 3: The enternal Silence</h2>
<p>Our potogonist could not so much as a wisper out of the shadowy figure...</p>
<h3>The specter Speaks</h3>
<p>Several more hours had passed, when all of a sudden the specter sat bolt upright and exclaimed, "Please have mercy on my soul!"</p>
 List Unordered -->
<!-- <ul>
  <li>Milk</li> 
  <li>egg</li>
  <li>Vegitables</li>
  <li>Breads</li>
  <li>Human</li>
</ul> -->
<!-- ordered list -->
<!-- <ol>
  <li>i am a human</li>
  <li>i am a girl from Nagpur</li>
  <li>I lived here from last 10 years</li>
  <li>I am going to new york earlier</li>
</ol> -->
<!-- text Practice -->
<!-- <h1>Basic HTML Animals</h1>
<p>this is the first Paragraph in our page. It introduces our Animals.</p>
<h2>The Lalma</h2>
<p>Our Llama is a big fan of list items. When she spies a patch of them on a web page, she will eat them like sweets, 
  licking her lips as she goes.</p>
  <h3>The Anaconda</h3>
  <p>The crafty anaconda likes to slither around the page, travelling rapidly by way of anchors to sneak up on his prey.
  </p> -->
<!-- HTML Document -->

<!-- <h1>Looking at the List</h1>
<p>turn the following list of my favorite vegetabels into unorderd list.</p>
<ul>
  <li>Cucumber</li>
  <li>Bringal</li>
  <li>Patotao</li>
  <li>Capsicum</li>
</ul>
<p>Thur the following Direcction into ordered list</p>
<ol>
  <li>First knock on the door</li>
  <li>When prompted, say the magic word</li>
  <li> Wait for at least 5 seconds</li>
  <li>Turn the handle and push</li>
</ol> -->

<!-- Hyperlink Chapter -->
<!-- <p>I am creating a link to 
  <a href="https://tcs.com" target="_blank" title="the best place to find more information about tcs">
    <img src="mozilla-image.png" alt="mozila logo that link to mozila homepage">
    Tcs Website</a>
</p>
<ul>
  <li>Home</li>
  <li><a href="tcs.com">Projects</a></li>
  <li><a href="wipro.com">Pictures</a></li>
  <li><a href="tejas.com">Social</a></li>
</ul>
<h1>Homepage</h1>
<p>Welcome to my Existing homepage.</p> --> 

<!-- Create a Simple Website -->
<!-- <body>
  <header>
    <h1>Header</h1>
  </header>
  <nav>
    <li><a href="#">Home</a></li>
    <li><a href="#">Industries</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Product & Platforms</a></li>
    <li><a href="#">Insites</a></li>
    <li><a href="#">Contact Us</a></li>

    <form>
      <input type="Search" name="q" id="" placeholder="search query">
      <input type="submit" value="go" id="">
    </form>
  </nav> -->
  <!-- Home Page Main Containt -->
  <!-- <main>
    <article>
      <h2>Article Heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris.
        Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et diam
        eget libero egestas mattis sit amet vitae augue.
        Nam tincidunt congue enim, ut porta lorem lacinia consectetur</p>
      <h3>Subsection</h3>
      <p>Donec ut librero sed accu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.</p>

      <p>Pelientesque auctor nisi id magna consequat sagittis. Curabitur dapibus, enim sit amet elit pharetra tincidunt
        feugiat nist imperdiet.
        Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.</p>
      <h3>Another Subscription</h3>
      <p>Donec ut librero sed accu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.</p>

      <p>Pelientesque auctor nisi id magna consequat sagittis. Curabitur dapibus, enim sit amet elit pharetra tincidunt
        feugiat nist imperdiet.
        Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.</p>
    </article>

    <aside>
      <h2>Related</h2>
      <ul>
        <li><a href="#">Oh I do like to be beside the seaside</a></li>
        <li><a href="#">Oh I do like to be beside the sea</a></li>
        <li><a href="#">Although in the North of England</a></li>
        <li><a href="#">It never stops raining</a></li>
        <li><a href="#">Oh well...</a></li>
      </ul>
    </aside>
  </main>
<footer>
  <p>©Copyright 2050 by nobody. All rights reversed.</p>
</footer>
</body> -->

<!-- Letter Assignment -->

<body>
  

<header>
  <h1>BIRDWATCHING</h1>
  <img src="../assets/images.png" alt="a simple dove logo" style="width: 150px;">
  <nav>
    <li><a href="#">Home</a></li>
    <li><a href="#">Get Started</a></li>
    <li><a href="#">Photoes</a></li>
    <li><a href="#">Gear</a></li>
    <li><a href="#">Forum</a></li>
  </nav>
</header>
<main>
<section>
  <h2>Welcome</h2>
  <p>Welcome to our fake birdwatching site. If this were a real site, it would be the ideal place to come to learn more about birdwatching, whether you are a beginner looking to learn how to get into birding, or an expert wanting to share ideas, 
    tips, and photos with other like-minded people.</p>

    <p>So don't waste time! Get what you need, then turn off that computer and 
      get out into the great outdoors!</p>
</section>
<aside>
  <h2>Favourite Photoes</h2>
  <a href="../assets/download.jpeg"><img src="../assets/download.jpeg" alt="Small black bird, black claws, long black slender beak, links to larger version of the image"></a>
      <a href="../assets/download (1).jpeg"><img src="../assets/download (1).jpeg" alt="Top half of a pretty bird "></a>
      <a href="../assets/download (2).jpeg"><img src="../assets/download (2).jpeg" alt="Top half of a large bird "></a>
      <a href="../assets/download (3).jpeg"><img src="../assets/download (3).jpeg" style="height: 150px; width: 150px;" alt="Large bird, mostly white plumage"></a>
</aside>
</main>
<footer>
  <p>
    his fake website example is CC0 — any part of this code may be reused in any way you wish. 
    Original example written by Chris Mills, 2016.
  </p>
  <p><a href="http://game-icons.net/lorc/originals/dove.html">Dove icon</a> by Lorc.</p>
</footer>
</body>
<router-outlet></router-outlet>
